<?xml version="1.0"?>
<model>
  <name>x500_stereo_camera_1280_480</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>PX4 User</name>
    <email>user@example.com</email>
  </author>

  <description>
    x500 with a stereo camera (1280x480).
  </description>
</model>
